node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
build.tar.gz

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.npmrc

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Testing
/src/routes/test-gallery

# Image Bucket
/static/images.txt

reagent_info.txt
reagent_yaml.yaml
specific_yaml.yaml
total_reagents_temp.json

.venv
pb-backups
scripts